.App {
  text-align: center;
}

.pokemon , .card {
  display: flex;
}

.more-info {
  background-color: #fdffb6;
  border: 2px solid #a8dadc;
  border-radius: 25px;
  color: #457b9d;
  margin-bottom: auto;
  position: relative;
  text-decoration: none;
  width: 125px;
}

.poke-properties {
  background-color: cornsilk;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid #fdffb6;
  display: inline-flex;
  color: black;
  font-size: 10px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 80%;
}

.pokecard-image {
  border: 2px solid #fdffb6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 80%;
}

.card {
  align-items: center;
  flex-direction: column;
  border: 10px solid #fdffb6;
  border-radius: 20px;
  height: 350px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 250px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
