body {
  background-color: #457b9d;
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pokecards-container {
  display: flex;
  flex-flow: nowrap;
  overflow-x: auto;
  padding: 65px 30px;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.more-info {
  background-color: #fdffb6;
  border: 2px solid #a8dadc;
  border-radius: 25px;
  color: #457b9d;
  margin-bottom: auto;
  position: relative;
  text-decoration: none;
  width: 125px;
}

.poke-properties {
  background-color: cornsilk;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid #fdffb6;
  display: inline-flex;
  color: black;
  font-size: 10px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  position: relative;
  width: 80%;
}

.pokecard-image {
  border: 2px solid #fdffb6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: auto;
  padding-top: 10%;
  padding-bottom: 10%;
  width: 80%;
}

.card {
  align-items: center;
  background-color: #ffe50a;
  background-image: linear-gradient(to top, #ffe50a, #ffea3d 70%, #ffe50a);
  border: 10px solid #fdffb6;
  border-radius: 20px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  height: 350px;
  margin-bottom: 5px;
  margin-top: 5px;
  overflow: hidden;
  position: relative;
  width: 250px;
}

.card__body {
  align-items: center;
  background-image: url(https://i.imgur.com/x7L9qpC.png);
  background-size: cover;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 248px;
  height: 348px;
}

